@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html,
body, button, h2, h3 {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 107%;
  background-color: #FFFFFF;
  /*text-align: center;*/
  font-weight: 300;
}

h1 {
  margin: 0;
  color: #ffffff;
  padding: 55px;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

h2 {
  font-weight: 1000;
}

.page_link_button {
  text-decoration: none;
  color: black;
  border: 1px solid #333333;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
}

.page_link_button:hover {
  background-color: #F3F3F3;
}

p {
  text-align: justify;
  font-weight: 300;
}

.about {
  text-align: center;
}

table {
  border-spacing: 15px;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.td_alignment {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

  .header {
    padding: 20px;
    text-align: center;
    background-image: url('https://cdn.glitch.global/d02790cc-6ebb-44d9-8f11-203cc998720a/photo-1542831371-29b0f74f9713.avif?v=1643645509150');
    background-position: top;
    color: lime;
    font-size: 24px;
  }


  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #dddddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #cccccc;
  }

.tablinks {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablinks:hover {
  background-color: #dddddd;
}


  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #cccccc;
    border-top: none;
  }

.underlined {
  text-transform: uppercase; 
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;

  color: #333333;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #333333;
  font-weight: 300;
  font-size: 1.75em;
  word-spacing: 2px;
}


